* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Lora', serif;;
}

header{
    border-bottom: solid white 1px;
    nav{
        background-color: black;
        a{
            text-transform: uppercase;
            img{
                object-fit: cover;
                height: 5rem;
            }
        }
    }
}

.menu{
    width: 100%;
    justify-content: end;
    a{
        color: white;
    }
    a:hover{
        color: #343A40;
    }
}

.social{
    h5{
        text-transform: uppercase;
        font-weight: bold;
        color: white;
    }
    label{
        a{
            line-height: 20px;
        }
    }
    i{
        font-size: 35px;
        margin: 15px;
        color:white
    }
    i:hover{
        color: black;
    }
}

.copy{
    line-height: 20px;
    padding: 12px;
    p{
        font-weight: bold;
        color:white;
    }
}

footer{
    margin-top: 4rem
}

@import 'base/index';
@import 'base/productos';
@import 'base/nosotros'