* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Lora', serif;
}

header{
    display: grid;
    grid-template-columns: 20% 80%;
    height: 120px;
    place-content: center;
    border-bottom: solid 2px #fff;

    .div-img{
        a{
            img{
                height: 100px;
                object-fit: cover;
                width: 100%;
            }
        }
    }

    .menu-nav{
        label{
            display: none;
        }
        input{
            display: none;
        }
        ul{
            display: flex;
            flex-direction: row;
            justify-content:flex-end;
            text-align: center;
            li{
                list-style: none;
                color: white;
                margin: 1.5rem;
                margin-top: 2.2rem;
                place-content: center;
                a{
                    color: white;
                    display: grid;
                    place-content: center;
                    text-transform: uppercase;
                }
                a:hover{
                    text-decoration: none;
                    color: gray;
                }
            }
        }
    }
}

p{
    font-size: 1.1rem;
}
a{
    font-size: 1.1rem;
}

.social{
    h5{
        text-transform: uppercase;
        font-weight: bold;
        color: white;
    }
    i{
        font-size: 35px;
        margin: 15px;
        color:white
    }
    i:hover{
        color: black;
    }
}

.copy{
    display: grid;
    place-content: center;
    p{
        font-weight: bold;
        color:white;
    }
}

footer{
    margin-top: 4rem;
    position: sticky;
    bottom: 0
}

@import 'base/index';
@import 'base/productos';
@import 'base/nosotros';
@import 'base/mediaQueries';
@import 'base/accesorios';