body{
    background-color: #000;
    overflow-x: hidden;
}

main{
    min-height: 100vh;
}

.img{
    min-height: 60vh;
    background: linear-gradient(rgba(5,7,12,0.75),rgba(5,7,12,0.75)), url("../imagenes/fondoInfo3.jpg") ;
    background-size: cover;
    border-bottom:solid 2px white ;
    display: grid;
    place-content: center;
    .content{
        display: grid;
        place-content: center;
        width: 100%;
        h2{
            text-transform: uppercase;
        }
        h2:hover{
            span{
                color: white;
                text-shadow: 0 0 10px white,
                0 0 20px white,
                0 0 40px white;
            }
        }
    }
}

.info{
    margin: 5rem;

    .primer-div-info{
        background-color: #fff;
        min-height: 10rem;
        text-align: center;
        border-radius: 10px;
    }

    h5{
        margin-bottom: 1.2rem;
        padding-top: 5px;
        font-weight: bold;
    }
    p{
        font-size: 0.8rem;
        margin: 0.2rem;
        i{
            font-size: 1.2rem;
            padding-right: 0.4rem;
        }
    }
    .pago-entrega{
        padding-top: 2rem ;
    }
}

@media(max-width:767px){

    #nosotros{
        img{
            height:250px;
            width: 350px;
        }
    }

}