.nosotros{
    h3{
        text-transform: uppercase;
    }
}

.quienes, .que-hacemos{
    margin-bottom: 6rem;
    text-align: center;
    p{
        margin-top: 1rem;
    }
    .texto{
        padding: 0 2rem;
    }
    video{
        height: 300px;
        border: solid 1px white;
        border-radius: 5px;
    }
}

#contacto{

    text-align: center;
    margin: 1rem;
    .container-contacto{
        background-color: #343A40;
        padding: 1rem;
        border-radius: 5px;
    }
    h2,h3,h4{
        color:white;
        text-transform: uppercase;
    }
    .datos{
        line-height: 20px;
        .infoContacto{
            padding-top: 40px;
            p{
                color: white;
                margin: 5px;
                padding: 0.5rem;
            }
            a{
                color: white;
                background-color: black;
                padding: 0.5rem;
                border: solid 0.1rem white;
                border-radius: 10px;
            }
            a:hover{
                text-decoration: none;
                background-color: gray;
                border: solid 0.1rem white;
            }
            i{
                padding: 5px;
                font-size: 1.3rem;
            }
        }
    }

    .mapa{
        line-height: 20px;
        h3{
            margin-bottom: 1.5rem;
        }
        iframe{
            margin-bottom: 0.8rem;
            border-radius: 5px;
        }
        a{
            color: white;
            background-color: black;
            padding: 0.5rem;
            border: solid 0.1rem white;
            border-radius: 10px;
        }
        a:hover{
            text-decoration: none;
            background-color: gray;
            border: solid 0.1rem white;
        }
    }
}

@media(max-width:767px){
    
    .que-hacemos{

        video{
            height: 230px;
            margin-top: 1rem;
        }
    }

    #contacto{
        .container-contacto{
            .datos{
                margin: 2rem 0;
                .infoContacto{
                    padding-top: 20px;
                    a{
                        margin-top: 1rem;
                    }
                }
            }
        }
    }
}