h2,h4{
    color: white;
    text-transform: uppercase;
    margin: 1rem;
    margin-top: 2rem;
}

.modeloUno, .modeloDos{
    margin-top: 3rem;
}

.imagenesModeloUno, .imagenesModeloDos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 1rem;
    border-radius: 5px;
    img{
        margin: 10px 10px;
        height: 200px;
        object-fit: cover;
        border-radius: 5px;
        transition: .3s;
    }
    img:hover{
        transform: scale(1.10);
    }
    
}

.infoModeloUno, .infoModeloDos{

    p{
        color: white;
    }
    .dimensiones{
        font-weight: bold;
    }
}

@media(max-width:1199px){

    .imagenesModeloUno, .imagenesModeloDos{

        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width: 992px){

    .imagenesModeloUno, .imagenesModeloDos{

        grid-template-columns: repeat(2, 1fr);

        img{
            height: 150px;
            margin: 10px;
            width: 90%;
            margin: 10px 5px;
        }
        .imgConInfo{
            width: auto;
        }
    }
}

@media(max-width: 572px){

    .imagenesModeloUno, .imagenesModeloDos{

        align-items: center;
        grid-template-columns: repeat(1, 1fr);

        img{
            height: 150px;
            margin: 10px;
        }
    }
}